<!DOCTYPE html>
<html>
  <head>
    <title>Administrador de Memes</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header bg-info">
            <h1 class="text-white">Administrador de Memes</h1>
        </div>
        <div class="card-body">
            <form action="/api/memes/" method="POST" id="formRegistrar" class="form-group">
              <label for="origen">Origen</label>
              <input type="text" name="origen" id="origen" placeholder="Origen">
              
              <label for="idioma">Idioma</label>
              <input type="text" name="idioma" id="idioma" placeholder="Idioma">
              
              <label for="anio">Year</label>
              <input type="text" name="anio" id="anio" placeholder="Anio">
              
              <button class="btn btn-success" type="submit"> <i class="far fa-share-square"></i> Enviar</button>
            </form>
        </div>
      </div>
      <table class="table table-striped table-bordered" id="tablaRegistros">
          <thead class="thead-dark">
            <th>ID</th>
            <th>Origen</th>
            <th>Idioma</th>
            <th>Year</th>
            <th>Opciones</th>
          </thead>
          <tbody id="filas">
    
          </tbody>
        </table>
    </div>
  
    <script src="/javascripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
