<!DOCTYPE html>
<html>
  <head>
    <title>Administrador de Memes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Administrador de Memes</h1>
    <form action="/api/memes/" method="POST" id="formRegistrar">
      <label for="origen">Origen</label>
      <input type="text" name="origen" id="origen">
      
      <label for="idioma">Idioma</label>
      <input type="text" name="idioma" id="idioma">
      
      <label for="anio">Year</label>
      <input type="text" name="anio" id="anio">
      
      <button type="submit">Enviar</button>
    </form>

    <table id="tablaRegistros">
      <thead>
        <th>ID</th>
        <th>Origen</th>
        <th>Idioma</th>
        <th>Year</th>
      </thead>
      <tbody id="filas">

      </tbody>
    </table>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
