<!DOCTYPE html>
<html>
  <head>
    <title>Administrador de Memes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Administrador de Memes</h1>
    <form action="/memes/" method="POST" id="formRegistrar">
      <input type="text" name="origen" id="origen">
      <label for="origen">Origen</label>

      <input type="text" name="idioma" id="idioma">
      <label for="idioma">Idioma</label>

      <input type="text" name="anio" id="anio">
      <label for="anio">Year</label>

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
