h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkgreen; 
}

body {
  padding: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}


